/* Configurações gerais da waybar */
* {
  border: none;
  border-radius: 4px;
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono Nerd Font";
  font-size: 16px;
  font-weight: 600;
}

/* Definição do background de toda a waybar */
window#waybar {
  background-color: transparent;
}

/* Configuração css do select de workspaces */
#workspaces {
  margin: 0.4rem 0.25rem;
  background-color: rgba(40, 42, 54, 0.90);
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  color: #DFDFDF;
}

#workspaces button:hover {
  background-color: rgba(68, 71, 90, 0.90);
  color: #DFDFDF;
}

#workspaces button.active {
  background-color: rgb(112, 146, 250);
  color: #DFDFDF;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: rgba(255, 85, 85, 0.90);
  color: #DFDFDF;
  font-weight: bold;
}

/* Configurações do css dos elementos da waybar */

/* Modulo search bar */
#custom-search_bar {
  color: #676af0;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90);
  padding-right: 13px;
}

/* Modulo window */
#window {
  color: #DFDFDF;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90);
}

/* Modulo mpris */
#mpris {
  color: #e46b47;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90);
}

/* Modulo clock */
#clock {
  color: #bd93f9;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90);
}

/* Modulo simple clock */
#clock.simpleclock {
  color: #50fa7b;
}

/* Group Modulo Info hardware */
#info_hardware {
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90);
}

/* Modulo CPU */
#cpu {
  color: #ffb86c;
  padding: 0.3rem 0.6rem;
}

/* Modulo CPU temp */
#custom-cpu_temp {
  color: #f75f5f;
  padding: 0.3rem 0.6rem;
}

/* Modulo memory */
#memory {
  color: #8be9fd;
  padding: 0.3rem 0.6rem;
}

/* Moludo GPU temp */
#custom-gpu_temp {
  color: #e0af68;
  padding: 0.3rem 0.6rem;
}

/* Modulo pulseaudio */
#pulseaudio {
  color: #f1fa8c;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90);
}

#pulseaudio.muted {
  color: #6272a4;
}

/* Module tray */
#tray{
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90);
}

/* Modulo notification */
#custom-notification {
  color: #ff79c6;
  font-family: "JetBrainsMono Nerd Font";
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90);
  padding-right: 10px;
}

/* Modulo power */
#custom-power {
  color: #ff5555;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;
  background-color: rgba(40, 42, 54, 0.90); /* Módulos com transparência */
  padding-right: 10px;
}

/* Config css dos tooltips da waybar */
tooltip {
  background-color: rgba(40, 42, 54, 0.95); /* Tooltip um pouco menos transparente */
  border: 2px solid #93c2f9;
  color: #DFDFDF;
}